@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply font-inter text-[#212529] antialiased bg-white overflow-x-hidden;
  }
}

.squiggly-underline {
  position: relative;
  display: inline-block;
}

.squiggly-underline::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 12px;
  background-image: url('data:image/svg+xml;utf8,<svg width=\"100\" height=\"12\" viewBox=\"0 0 100 12\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M0 6 Q 10 0, 20 6 T 40 6 T 60 6 T 80 6 T 100 6\" stroke=\"%23FFE492\" stroke-width=\"4\" fill=\"none\" stroke-linecap=\"round\" stroke-linejoin=\"round\"/></svg>');
  background-repeat: repeat-x;
  background-size: 40px 12px;
  z-index: -1;
}

.wave-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 0;
  pointer-events: none;
}

.wave-line {
  position: absolute;
  width: 150%;
  height: 150%;
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 50%;
}